//
// Callouts
// --------------------------------------------------

//== Callouts
//
//## For each Callout, define background and border color.

$callout-default-color:              #e9d0c3 !default;

$callout-default-bg:                 white !default;
$callout-default-border:             darken($callout-default-color, 5%) !default;

.callout {
	max-width: 700px;
	padding: 10px;
	border: 1px solid #ccc;
	border-left: 3px solid $callout-default-border;
	border-radius: 4px;
}