//
// Tables
// --------------------------------------------------



// Baseline styles
.table {
  .color {
    width: 25%;
  }

  .talla {
    width: 15%;
  }

  .stock {
    width: 20%;
  }

  .cantidad {
    width: 24%;
  }

  .cortado {
    width: 24%;
  }

  .pedidos {
    width: 20%;
  }

}

.table-col-1 {
 width: (100%/12 * 1);
}

.table-col-2 {
 width: (100%/12 * 2);  
}

.table-col-3 {
 width: (100%/12 * 3);  
}

.table-col-4 {
 width: (100%/12 * 4);  
}

.table-col-5 {
 width: (100%/12 * 5);  
}

.table-col-6 {
 width: (100%/12 * 6);  
}

.table-col-7 {
 width: (100%/12 * 7);  
}

.table-col-8 {
 width: (100%/12 * 8);  
}

.table-col-9 {
  width: (100%/12 * 9);
}

.table-col-10 {
 width: (100%/12 * 10); 
}

.table-col-11 {
 width: (100%/12 * 11);
}

.table-col-12 {
 width: (100%/12 * 12);
}