<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Nude | Data </title>

    <!-- ICON -->
    <link href="/n.ico" rel="icon" type="image/x-icon" />

    <!-- CSS  -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- JavaScripts -->
    <script rel="javascript" src="js/jquery.min.js"></script>
    <script rel="javascript" src="js/bootstrap.min.js"></script>
  </head>

  <body>
    <div id="app">
      
      <!-- HEADER -->

      <navbar activeurl="/data"></navbar>

      <!-- BODY (app) -->

      <div class="row" style="margin: 15px">
        <div class="container">
  
          <h1 style="font-weight: bold; border-bottom: 1px solid lightgrey; width: 100%">Data</h1>

          <h3>Stock</h3>
          <Stockdata></Stockdata>

          <br />

          <h3>Production</h3>
          <Productiondata></Productiondata>

        </div>

      </div>

      <footer>
        <p> Created by Mike Zarco Gillett</p>
        <p> Designed by <a class="orator" href="https://thenudelabel.com/es/"> The Nude Label </a></p>
      </footer>           

    </div>

  </body>

<script rel="javascript" src="js/data.js"></script>


</html>

